kind: Secret
apiVersion: v1
metadata:
  name: credentials-s3
  labels:
    app: rhoai-edge-pipelines
    app.kubernetes.io/part-of: rhoai-edge-pipelines

stringData:
  s3-storage-config: |+
    { "type": "s3", "access_key_id": "{{ YOUR_AWS_ACCESS_KEY }}", "secret_access_key": "{{ YOUR_AWS_SECRET_KEY }}", "endpoint_url": "{{ S3_ENDPOINT__https://example.amazonaws.com/ }}", "region": "{{ S3_REGION__us-west-1 }}" }
