apiVersion: v1
kind: Secret 
metadata:
  name: credentials-git
type: Opaque
stringData:
  # This .git-credentials field is used to specify credentials when
  # interacting with a Git server (clone/fetch/push). It will be
  # placed as a file on disk so that the Git CLI can use it, so change
  # it to appropriate details for your Git server.
  .git-credentials: "https://{username}:{github_pat_1234567890ABCDAPI_TOKEN}@github.com"
  .gitconfig: |
    [credential]
      helper = store
