apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
  - servicemonitor-matchlabels.yaml

labels:
  - includeSelectors: true
    pairs:
      app: bike-rental-app

resources:
- ../../base
- bike-servicemonitor.yaml

namespace: bike-rental-app
namePrefix: bike-rental-app-

commonLabels:
  app: bike-rental-app-1

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: model-1
    spec:
      template:
        spec:
          containers:
            - name: model
              readinessProbe:
                httpGet:
                  path: /v2/models/bike-rentals-auto-ml/ready
  target:
    kind: Deployment

replacements:
- source:
    kind: Service
    fieldPath: metadata.name
  targets:
  - select:
      group: route.openshift.io
      kind: Route
    fieldPaths:
      - spec.to.name
- source:
    kind: Service
    fieldPath: metadata.labels.app
  targets:
  - select:
      group: monitoring.coreos.com
      kind: ServiceMonitor
    fieldPaths:
      - spec.selector.matchLabels.app

images:
- name: edge-model-template-image
  newName: quay.io/rhoai-edge/bike-rentals-auto-ml
  digest: sha256:a162e24275607c8e9afeb4ea6e5b4548ce2e5a345f0efc464d60c3fecbcc4c6f
