apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: kserve-download-model
spec:
  description: This Task can be used to a download a model
  params:
  - name: model-name
    type: string
  - name: current-namespace
    default: "default"
    type: string
  - name: s3-bucket-name
    type: string
  results:
  - name: s3-url
    description: The S3 URL used to download the model
  steps:
  - name: download-model-s3
    image: quay.io/opendatahub/kserve-storage-initializer:v0.11.1.3
    script: |
      mkdir -p $(workspaces.workspace.path)/model_dir-$(params.model-name)/

      export S3_URL="s3://$(params.s3-bucket-name)/$(params.model-name)"
      echo -n $S3_URL | tee $(results.s3-url.path) ;

      if [ -n "$(workspaces.ssl-ca-directory.path)" ]; then
        export CA_BUNDLE_CONFIGMAP_NAME=ssl-ca-directory
        export AWS_CA_BUNDLE=$(workspaces.ssl-ca-directory.path)/ca-bundle.crt
      fi
      
      STORAGE_CONFIG="$(cat $(workspaces.s3-secret.path)/s3-storage-config)" /storage-initializer/scripts/initializer-entrypoint \
      $S3_URL \
      $(workspaces.workspace.path)/model_dir-$(params.model-name)/$(params.model-name)
  workspaces:
  - description: The workspace for the downloaded model.
    name: workspace
  - description: The S3 secret.
    name: s3-secret
  - description: |
      A workspace containing CA certificates, this will be used by the model download script to
      verify the peer with when fetching over HTTPS.
    name: ssl-ca-directory
    optional: true
