kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
resources:
- check-model-and-containerfile-exists.yaml
- kserve-download-model.yaml
- test-model-rest-svc-task.yaml
- retrieve-build-image-info.task.yaml
- copy-model-from-pvc.yaml
- yq-update.yaml
- move-model-to-root-dir.yaml
- object-name-sanitise.yaml
- https://raw.githubusercontent.com/tektoncd/catalog/main/task/github-open-pr/0.2/github-open-pr.yaml
